<div class="section" id="skillTab">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6" *ngFor="let skill of skills">
            <div class="progress-container progress-primary">
              <app-skill-progress [title]="skill?.skill_type" [progress]="skill?.progress" [lvl]="skill?.lvl" [max]="skill?.max"></app-skill-progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>