.c-skill-b {
    background-color: #00334D;
}

.c-skill-bl {
    background-color: #799DD0;
}

.skill-progress {
    height: 10px;
    font-size: 18px;
    width: 16.5%;
    margin: 2px;
}

.skill-label-r {
    float: right;
}

.skill-progress-container {
    display: inline-flex;
    width: 100%;
}

.skill-anim {
    width: 16.5%;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 1s;
    -webkit-transition-timing-function: linear;
    transition-property: width;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: ease;
}
