
<footer class="footer">
  <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/raul.villca.9" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-linkeding btn btn-link" href="https://www.linkedin.com/in/raul-villca-a5740190/" target="_blank">
      <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-twitter btn btn-link " href="https://twitter.com/raal_v" target="_blank">
      <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>&copy; All rights reserved.
      <!-- <br>Design - -->
      <!-- <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a> -->
    </p>
  </div>
</footer>